<div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
          <div class="full">
            <div class="center-desk">
              <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt="#"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">
     
           <div class="menu-area">
            <div class="limit-box">
              <nav class="main-menu " style="display: block;">
                <ul class="menu-area-main">
                    {% for link in linklists.main-menu.links %}
                    <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a>
                    {% if link.links != blank %}
                      <ul class="child">
                        {% for child_link in link.links %}  
                        <li class="{% if link.active %}active{% endif %}"><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
                        {% if child_link.links != blank %}
                          <ul class="grandchild">
                          {% for grandchild_link in child_link.links %}  
                            <li class="{% if link.active %}active{% endif %}"><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                          {% endfor %}
                          </ul>
                        {% endif %}   
                        </li>
                        {% endfor %}
                      </ul> 
                    {% endif %} 
                    </li>
                    {% endfor %}
               </nav>
             </div>
           </div> 
          </div>
       </div>
     </div>
   </div>